.header {
  display: flex;
  justify-content: center;
  gap: 2%;
  align-items: center;
}

.table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: 0 auto;
}

.tableHeader {
  font-weight: 600;
  padding: 1rem 4rem;
}

.buttons {
  display: flex;
  position: relative;
  gap: 7px;
}

.moreOptions {
  position: absolute;
  top: 50%;
  transform: translate(-10%, -50%);
}

.container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 200px);
  align-items: center;
  margin-bottom: 4rem;
}

.workoutHeader {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-items: center;
  width: 100%;
  align-items: center;
  margin: 0px auto;
  padding: 0rem 2rem;
  font-weight: 600;
}

.headers,
.stats {
  grid-column: span 4;
}

.workoutContainer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 4%;
  width: 80%;
  margin: 0px auto;
}

.workouts {
  display: grid;
  grid-template-columns: repeat(17, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0px auto;
  padding: 2rem 2rem;
  border: hsl(var(--foreground)) solid 2px;
  border-radius: 10px;
  background-color: hsl(var(--cardBG));
}

@media (max-width: 768px) {
  .workoutContainer {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .workoutHeader {
    font-size: medium;
    font-weight: 500;
  }

  .header {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2%;
    margin-bottom: 25px;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }

  .select {
    text-align: center;
    margin-bottom: 20px;
  }
}
