.container {
    background-color: cadetblue;
}

.button {
    position: absolute;
    width: 10%;
    height: 20%;
    background-color: darkgreen;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    z-index: 10;
}

.wrapper {
    display: flex;
}