.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
}

.form input {
  padding: 20px;
  background-color: hsl(var(--background));
  color: var(--textColor);
  border: none;
  border-radius: 5px;
}