.workouts {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0px auto;
  padding: 2rem 2rem;
  border: hsl(var(--foreground)) solid 2px;
  border-radius: 10px;
  background-color: hsl(var(--cardBG));
}

.currentExercise {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0px auto;
  padding: 2rem 2rem;
  border: hsl(var(--foreground)) solid 2px;
  border-radius: 10px;
  background-color: hsl(var(--cardBG));
}

.headers,
.stats {
  grid-column: span 4;
}

.edit {
  grid-column: span 1;
}

.inputs {
  color: hsl(var(--main));
  background-color: transparent;
  text-align: center;
  border-bottom: 2px solid hsl(var(--foreground));
  margin-bottom: -2px;
  -moz-appearance: textfield;
}

.inputs::placeholder {
  font-size: 0.75em;
}

.inputs::-webkit-outer-spin-button,
.inputs::-webkit-inner-spin-button,
.addInputs::-webkit-outer-spin-button,
.addInputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
