.exercises {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0px auto;
  padding: 2rem 2rem;
  border: hsl(var(--foreground)) solid 2px;
  border-radius: 10px;
  background-color: hsl(var(--cardBG));
}

.stats,
.headers {
  grid-column: span 4;
}
