.workouts {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0px auto;
  padding: 2rem 2rem;
  border: 2px solid hsl(var(--foreground));
  border-radius: 18px;
}

.edit {
  justify-self: start;
  grid-column: span 1;
}

.trash {
  grid-column: span 1;
  color: hsl(var(--destructive));
}

.stats,
.headers,
.inputs,
.addInputs {
  grid-column: span 3;
}

.inputs {
  width: 30%;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  text-align: center;
  border-bottom: 2px solid hsl(var(--foreground));
  margin-bottom: -2px;
  -moz-appearance: textfield;
}

.inputs::-webkit-outer-spin-button,
.inputs::-webkit-inner-spin-button,
.addInputs::-webkit-outer-spin-button,
.addInputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}