/* .workouts {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  justify-items: center;
  align-items: center;
  margin: 0px auto;
  padding: 2rem 2rem;
  border: 2px solid hsl(var(--foreground));
  border-radius: 18px;
} */

.tableRow .exerciseName {
  text-align: left;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  /* border: hsl(var(--foreground)) solid 2px; */
  border-right: transparent;
  border-left: transparent;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.middle {
  text-align: center;
  /* border: hsl(var(--foreground)) solid 2px; */
  border-left: transparent;
  border-right: transparent;
}

.weight {
  text-align: center;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  /* border: hsl(var(--foreground)) solid 2px; */
  border-left: transparent;
  border-right: transparent;
}

.edit {
  position: absolute;
  top: 50%;
  transform: translate(-10%, -50%);
}

.delete {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* .trash {
  grid-column: span 1;
  color: hsl(var(--destructive));
} */

/* .stats,
.headers,
.inputs,
.addInputs {
  grid-column: span 3;
} */

.inputs {
  color: hsl(var(--foreground));
  border-bottom: 2px solid hsl(var(--foreground));
  margin-bottom: -2px;
  -moz-appearance: textfield;
}

.inputs::-webkit-outer-spin-button,
.inputs::-webkit-inner-spin-button,
.addInputs::-webkit-outer-spin-button,
.addInputs::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
