.card {
  height: 62vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 50px;
  border: 2px hsl(var(--foreground)) solid;
  /* FIND A COLOR THAT WORKS */
  background-color: hsl(var(--cardBG));
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.button {
  padding: 12px 15px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--btn);
}

.form {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 80%;
  margin-top: 2rem;
  background-color: hsl(var(--muted));
  padding: 1rem;
  position: absolute;
  top: 7em;
  border-radius: 15px;
  border: 2px hsl(var(--foreground)) solid;
  z-index: 20;
}

.form input {
  border-bottom-color: hsl(var(--foreground));
  border-bottom-width: 2px;
  background-color: transparent;
  min-width: 0;
}

.submitButton {
  padding: 10px;
  min-width: 80px;
  width: 15%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--btn);
}

.foundContainer {
  /* FIND A SOLUTION */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  background-color: hsl(var(--secondary));
  border: 2px hsl(var(--foreground)) solid;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.trash {
  color: hsl(var(--destructive));
  font-size: larger;
}

.workouts {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-items: center;
  width: 75%;
  align-items: center;
  margin: 0px auto 0.5em;
  padding: 2rem 2rem;
  border: 2px solid hsl(var(--foreground));
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .form {
    flex-direction: column;
    gap: 10px;
  }
  .submitButton {
    min-width: 100%;
  }
  .workouts {
    padding: 1rem 1rem;
    width: 90%;
  }
  .foundContainer {
    width: 90%;
    padding: 1rem;
    max-height: 60%;
  }
}
