.card {
  height: 62vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  border-radius: 50px;
  border: 2px black solid;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  padding: 12px 15px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--btn);
}

.restButton {
  padding: 12px 15px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: red;
}

.form {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 80%;
  margin-top: 1rem;
}

.form input {
  border-bottom-color: black;
  border-bottom-width: 2px;
  background-color: transparent;
  min-width: 0;
}

.submitButton {
  padding: 10px;
  min-width: 80px;
  width: 15%;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--btn);
}

.workouts {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  justify-items: center;
  width: 80%;
  align-items: center;
  margin: 0px auto 0.5em;
  padding: 2rem 2rem;
  border: 2px solid black;
}

@media (max-width: 1024px) {
  .form {
    flex-direction: column;
    gap: 40px;
  }
  .submitButton {
    min-width: 100%;
  }
}
