.workouts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    padding: 2rem 2rem;
    border: 2px solid hsl(var(--exerciseBorder));
    border-radius: 18px;
    background-color: hsl(var(--cardBG));
}

.stats {
  grid-column: span 1;
  justify-self: center;
}

.button {
  grid-column: span 1;
  font-size: large;
  padding: 1rem;
  justify-self: center;
}

@media (max-width: 1024px) {
  .workouts {
    padding: 1rem 0.5rem;
  }
  .button {
    padding: 0.5rem;
  }
}