.workouts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    margin: 0px auto;
    padding: 2rem 2rem;
    border: 2px solid hsl(var(--foreground));
    border-radius: 18px;
    background-color: hsl(var(--background));
}

.stats {
  grid-column: span 1;
}

.button {
  grid-column: span 1;
}