.header {
    display: flex;
    justify-content: center;
    gap: 2%;
    margin-bottom: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 200px);
}

.workoutHeader {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    background-color: var(--bg);
    width: 100%;
    align-items: center;
    margin: 0px auto;
    padding: 2rem 2rem;
}

.workoutContainer {
    display: flex;
    flex-direction: column;
    background: var(--bgSoft);
    gap: 1em;
    padding: 4%;
    width: 80%;
    margin: 0px auto;
    border-radius: 20px;
}

.workouts {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-items: center;
    background-color: var(--bg);
    align-items: center;
    margin: 0px auto;
    padding: 2rem 2rem;
}